.background {
  viewport-fill: black;
}

#clockLabel {
  font-size: 100;
  font-family: System-Bold;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 50%;
  fill: aqua
}

#hungarianHourLabel {
  font-size: 50;
  font-family: System-Regular;
  text-length: 100;
  text-anchor: middle;
  x: 50%;
  y: 50%+90;
  fill: aqua
}

#hungarianMinuteLabel {
  font-size: 40;
  font-family: System-Regular;
  text-length: 100;
  text-anchor: middle;
  x: 50%;
  y: 50%+145;
  fill: aqua
}