.background {
  viewport-fill: black;
}

#stepCountLabel {
  font-size: 30;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: start;
  x: 10%;
  y: 20%;
  fill: aqua
}

#clockLabel {
  font-size: 100;
  font-family: System-Bold;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 55%;
  fill: aqua
}

#amPmLabel {
  font-size: 35;
  font-family: System-Bold;
  text-length: 30;
  text-anchor: end;
  x: 100%;
  y: 55%;
  fill: aqua
}

#hungarianHourLabel {
  font-size: 50;
  font-family: System-Regular;
  text-length: 100;
  text-anchor: middle;
  x: 50%;
  y: 50%+90;
  fill: aqua
}

#hungarianMinuteLabel {
  font-size: 40;
  font-family: System-Regular;
  text-length: 100;
  text-anchor: middle;
  x: 50%;
  y: 50%+140;
  fill: aqua
}